.high {
    background: dimgray;
}

.medium {
    background: gray;
}

.low {
    background: lightgray;
}

/* style header */
header {
    background: lightblue;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header div {
    height: 50px;
    width: 100px;
}

/* style main content */

/* style featured people */
.people {
    background: darkcyan;
    position: relative;
}

.people h3 {
    background: yellow;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 20px;
    height: 100px;
    width: 50%;
}

.people h3 span:first-child {
    width: 100%;
}

.people h3 span {
    display: block;
    height: 40%;
    width: 40%;
    margin: auto;
}

.theme {
    width: 225px;
    height: 60px;
    position: absolute;
    top: 40px;
    right: 20px;
}

.featured {
    background: lightcyan;
    display: flex;
    flex-wrap: wrap;
}

.people .card {
    background: blue;
    padding-top: 20%;
    height: 700px;
    margin: 20px;
    flex: 40%;
}

.people .card:nth-child(3), .people .card:last-child {
    height: 600px;
    padding-top: 10px;
}


.card-header {
    height: 100px;
    position: relative;
}

.profile {
    width: 100px;
    height: 100px;
    display: inline-block;
}

.description {
    height: 50px;
    width: 50%;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}

.line {
    margin: 30px 0;
    height: 30px;
}

/* style memberhsip popup */
.membership {
    background: dodgerblue;
    height: 400px;
    margin: 0;
}
.membership > div {
    height: 100%;
    display: inline-block;
}

.membership .details {
    width: 70%;
}

.subscribe {
    width: 50%;
    height: 100px;
    margin: 0 auto;
}

.membership .logo {
    width: 30%;
    float: right;
}

.cat {
    height: 80%;
    width:80%;
    margin: 10% auto;
}