.high {
    background: #4a4a4a;
}

.medium {
    background: #8c8c8c;
}

.low {
    background: lightgray;
}

/* style header */
header {
    background: lightblue;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header div {
    height: 50px;
    width: 100px;
}

/* style main content */

/* style featured people */
.people {
    background: darkcyan;
    position: relative;
}

.people h3 {
    background: yellow;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 20px;
    height: 100px;
    width: 50%;
}

.people h3 span:first-child {
    width: 100%;
}

.people h3 span {
    display: block;
    height: 40%;
    width: 40%;
    margin: auto;
}

.theme {
    width: 225px;
    height: 60px;
    position: absolute;
    top: 40px;
    right: 20px;
}

.featured {
    background: lightcyan;
    display: flex;
    flex-wrap: wrap;
}

.people .card {
    background: blue;
    padding-top: 20%;
    height: 700px;
    margin: 20px;
    flex: 40%;
}

.people .card:nth-child(3), .people .card:last-child {
    height: 600px;
    padding-top: 10px;
}


.card-header {
    height: 100px;
    position: relative;
}

.profile {
    width: 100px;
    height: 100px;
    display: inline-block;
}

.description {
    height: 50px;
    width: 50%;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}

.line {
    margin: 30px 0;
    height: 30px;
}

/* style memberhsip popup */
.membership {
    background: dodgerblue;
    height: 400px;
    margin: 0;
}
.membership > div {
    height: 100%;
    display: inline-block;
}

.membership .details {
    width: 70%;
}

.subscribe {
    width: 50%;
    height: 100px;
    margin: 0 auto;
}

.membership .logo {
    width: 30%;
    float: right;
}

.cat {
    height: 80%;
    width:80%;
    margin: 10% auto;
}

/* style news container */
.news-container {
    background: indianred;
}

.news {
    display: flex;
}

.news .card {
    margin: 20px;
    height: 400px;
    flex: 1;
}

.news .card * {
    margin: 20px 0;
    padding: 20px;
}
.news .heading {
    height: 70px;
}

.news .credits {
    height: 20px;
}

/* style sponsors */
.sponsors {
    display: flex;
}

.sponsors * {
    margin: 20px;
}

.small {
    height: 200px;
    flex: 1;
    background: pink;
}

.small .button {
    width: 125px;
    height: 25px;
    margin: 0 auto;
}

.long {
    height: 750px;
    flex: 2;
    background: hotpink;
}

.long .cat {
    width: 250px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.long .button {
    width: 200px;
    height: 50px;
    margin: auto;
}


/* style people container */
.people-container {
    background: deeppink;
}

.person-main {
    margin-top: 20px;
    margin-left: 20px;
    height: 300px;
}

.person-main .line {
    display: inline-block;
    width: 40%;
    margin-left: 20%;
}
.main-person {
    width: 250px;
    height: 250px;
    float: left;
}

.people-container .people .card {
    width: 500px;
    height: 400px;
    padding: 0;
}

.people-container .people {
    display: flex;
    flex-wrap: wrap;
}

.more {
    height: 150px;
}